<!DOCTYPE html>
<html>
  <footer class="footer fixed-bottom text-center-p3 footer-dark bg-dark" style="position: sticky; position: fixed">
    <div class="text-muted" style="padding-left: 20px;">
      <span>AidaLinux © 2021 by</span>
      <a style="color: darkgray" href="http://www.finsoft.it/en">FinsoftSrl</a>
    </div>
  </footer>
</html>