<!DOCTYPE html>
<html>

  <footer class="navbar fixed-bottom navbar-dark bg-dark">
    <span class="text-muted" style="margin-left: 20px;">Finsoft © 2021</span>
    <a class="navbar-brand" href="http://www.finsoft.it/en">FinsoftSrl</a>
    </div>
  </footer>
</html>
