<!DOCTYPE html>
<html>

  <footer class="footer fixed-bottom footer-dark bg-dark" style="position:sticky">
    <span class="text-muted" style="padding-left: 20px;">AidaLinux © 2021 by</span>
    <a class="footer-brand" href="http://www.finsoft.it/en">FinsoftSrl</a>
    </div>
  </footer>
</html>
