<!DOCTYPE html>
<html>
  <nav
    class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
    style="line-height: 50%;"
  >
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="flex-direction: row;">
        <li class="nav-item"><a class="nav-link" href="home" style="color: white;" >Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="lpstat" style="color: white;">Printers</a></li>
        <li class="nav-item"><a class="nav-link" href="lpq" style="color: white;">Jobs</a></li>
      </ul>
    </div>
  </nav>
</html>
