<!doctype html>
<html lang="en">

     <%- include('../views/partials/header.ejs') %>

  <body>

    <%- include('../views/partials/nav.ejs') %>

<br>

    <div class="alert alert-success alert-dismissible rounded-pill fade show" role="alert" style="margin-left: 20px; margin-right: 50%;">
      <strong>Jobs deleted correctly</strong>
      <p><%= command %></p>
    </div>

   

  <%- include('../views/partials/footer.ejs') %>

</html>
