<!doctype html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>
  <%- include('../views/partials/nav.ejs') %>

  <body>
    <!-- Pagina infine non implementata -->
    <h2 style="padding: 1% 0% 0% 1%"></h2>
  <br>
  <div class="alert alert-success alert-dismissible rounded-pill fade show" role="alert" style="padding-left: 1%; margin-right: 60%;">
    <strong>Jobs deleted correctly</strong>
    <p><%= command %></p>
  </div>
  </body>

  <%- include('../views/partials/footer.ejs') %>
</html>