<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>
  <%- include('../views/partials/nav.ejs') %>

  <body>
    <!-- Pagina infine non implementata -->
    <h2 style="padding: 20px 20px 0px 20px;">Classes List</h2>
  </body>
  
  <%- include('../views/partials/footer.ejs') %>
</html>