<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>

  <body>
    <%- include('../views/partials/nav.ejs') %>

    <div class="mx-auto" style="width: 100%; padding: 0% 1% 0% 1%">
      <h2 style="padding-top: 1%">Printers</h2>
      <a href="lpadmin" class="btn btn-outline-secondary">Add a printer</a>
      <a href="lpstat" class="btn btn-outline-secondary">Manage printers</a>
      <a href="lp" class="btn btn-outline-secondary">Quick print</a>

      <h2 style="padding-top: 1%">Jobs</h2>
      <a href="lpq" class="btn btn-outline-secondary">Manage jobs</a>
      <a href="cancelAll" class="btn btn-outline-secondary">Delete all jobs</a>

      <h2 style="padding-top: 1%">Profiles</h2>
      <a href="profiles" class="btn btn-outline-secondary">Manage profiles</a>
    </div>

    <%- include('../views/partials/footer.ejs') %>
  </body>
</html>
