<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>

  <body>
    <h1>Linux Printer Manager</h1>

    <%- include('../views/partials/nav.ejs') %>

    <h2>Printers</h2>

<a href="" class="btn btn-primary">Add Printers</a>
<a href="" class="btn btn-primary">Find New Printers</a>
<a href="lpstat" class="btn btn-primary">Manage Printers</a>

 
<!-- <button onclick="manage()" type="button" class="btn btn-primary" href="lpstat" id="manage">Manage Printers</button> -->

    <h2>Classes</h2>

<a href="" class="btn btn-primary">Add Classes</a>
<a href="" class="btn btn-primary">Manage Classes</a>

<h2>Jobs</h2>

<a href="lpq" class="btn btn-primary">Manage Jobs</a>

    <button type="button" class="btn btn-primary">Manage Jobs</button>
  </body>

  <%- include('../views/partials/footer.ejs') %>
</html>
