<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>

  <body>
    <h1 style="padding-left: 20px; padding-top: 10px;">AidaLinux</h1>

    <%- include('../views/partials/nav.ejs') %>

    <div class="mx-auto" style="width: 97%;">
    <br>
    <h2 style="padding-top: 10px; padding-bottom: 10px;">Printers</h2>

    <a href="lpadmin" class="btn btn btn-secondary">Add Printers</a>
    <a href="" class="btn btn btn-secondary">Find New Printers</a>
    <a href="lpstat" class="btn btn btn-secondary">Manage Printers</a>

    <h2 style="padding-top: 10px; padding-bottom: 10px;">Classes</h2>

    <a href="" class="btn btn btn-secondary">Add Classes</a>
    <a href="classes" class="btn btn btn-secondary">Manage Classes</a>

    <h2 style="padding-top: 10px; padding-bottom: 10px;">Jobs</h2>

    <a href="lpq" class="btn btn btn-secondary">Manage Jobs</a>
  </div>
  </body>

  <%- include('../views/partials/footer.ejs') %>
</html>
