<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>

  <body>
    <h1 style="margin-left: 20px;">AidaLinux</h1>

    <%- include('../views/partials/nav.ejs') %>

    <div class="mx-auto" style="width: 1325px; margin-top: 20px;">
    <br>
    <h2>Printers</h2>

    <a href="lpadmin" class="btn btn-sm btn-secondary">Add Printers</a>
    <a href="" class="btn btn-sm btn-secondary">Find New Printers</a>
    <a href="lpstat" class="btn btn-sm btn-secondary">Manage Printers</a>

    <h2>Classes</h2>

    <a href="" class="btn btn-sm btn-secondary">Add Classes</a>
    <a href="classes" class="btn btn-sm btn-secondary">Manage Classes</a>

    <h2>Jobs</h2>

    <a href="lpq" class="btn btn-sm btn-secondary">Manage Jobs</a>
  </div>
  </body>

  <%- include('../views/partials/footer.ejs') %>
</html>
