<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>

  <body>
    <%- include('../views/partials/nav.ejs') %>

    <div class="mx-auto" style="width: 98%" style="padding: 20px 20px 0px 20px">
      <h2 style="padding-top: 20px">Printers</h2>
      <a href="lpadmin" class="btn btn-outline-secondary">Add a printer</a>
      <a href="lpstat" class="btn btn-outline-secondary">Manage printers</a>
      <a href="lp" class="btn btn-outline-secondary">Quick print</a>

      <h2 style="padding-top: 20px">Jobs</h2>
      <a href="lpq" class="btn btn-outline-secondary">Manage jobs</a>
      <a href="cancelAll" class="btn btn-outline-secondary">Delete all jobs</a>
    </div>

    <%- include('../views/partials/footer.ejs') %>
  </body>
</html>
