<!doctype html>
<html lang="en">
 
  <%- include('../views/partials/header.ejs') %>

  <body>
    <h1>Linux Printer Manager</h1>

    <%- include('../views/partials/nav.ejs') %>

<h2>Printers</h2>

<button type="button" class="btn btn-primary">Add Printer</button>
<button type="button" class="btn btn-primary">Find New Printers</button>
<button type="button" class="btn btn-primary">Manage Printers</button>

<h2>Classes</h2>

<button type="button" class="btn btn-primary">Add Class</button>
<button type="button" class="btn btn-primary">Manage Classes</button>

<h2>Jobs</h2>

<button type="button" class="btn btn-primary">Manage Jobs</button>

  </body>

  <%- include('../views/partials/footer.ejs') %>

</html>

