<!doctype html>
<html lang="en">

 <%- include('../views/partials/header.ejs') %>

  <body>
    <h1 style="padding-left: 20px; padding-top: 10px;">lpadmin View</h1>

    <%- include('../views/partials/nav.ejs') %>

    <%= command %>

  <%- include('../views/partials/footer.ejs') %>

</html>
