<!doctype html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>
 <body>
  <%- include('../views/partials/nav.ejs') %>
  <%- include('../views/partials/footer.ejs') %>
 </body>
</html>