<!doctype html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>
  <%- include('../views/partials/nav.ejs') %>

 <body>
 </body>
 
 <%- include('../views/partials/footer.ejs') %>
</html>