<!doctype html>
<html lang="en">

 <%- include('../views/partials/header.ejs') %>

  <body>

    <%- include('../views/partials/nav.ejs') %>

    <%= command %>

  <%- include('../views/partials/footer.ejs') %>

  <h2 style="padding: 20px 20px 0px 20px">Add a printer</h2>
  <p style="padding: 20px 20px 0px 20px"> Abbiamo un problema relativo ai permessi</p>

</html>
