<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>
  <%-include('../views/partials/nav.ejs') %>

  <body>
    <h2 style="padding: 1% 0% 0% 1%">Non funziona</h2>
  </body>

  <%- include('../views/partials/footer.ejs') %>
</html>
