<!doctype html>
<html lang="en">

  <%- include('../views/partials/header.ejs') %>

  <body>
    <h1>Jobs List</h1>

    <%- include('../views/partials/nav.ejs') %>

    <p>lpq result:</p>
    <% if (command) { %>
        <h2><%= command %></h2>
      <% } %>
  </body>

  <%- include('../views/partials/footer.ejs') %>

</html>
    
