<!doctype html>
<html lang="en">

 <%- include('../views/partials/header.ejs') %>

  <body>
    <h1 style="margin-left: 20px;">lp View</h1>

    <%- include('../views/partials/nav.ejs') %>

<br>

    <div class="alert alert-success alert-dismissible rounded-pill fade show" role="alert" style="margin-left: 20px;">
      <strong>Print Successful!</strong> You should check Jobs.
    </div>

   

  <%- include('../views/partials/footer.ejs') %>

</html>
    
