<!doctype html>
<html lang="en">

 <%- include('../views/partials/header.ejs') %>

  <body>
    <h1>lp View</h1>

    <%- include('../views/partials/nav.ejs') %>

      
    <%= command %>

  <%- include('../views/partials/footer.ejs') %>

</html>
    
