<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>

  <body>
    <%- include('../views/partials/nav.ejs') %>
      
    <div class="mb-3, container-fluid" style="padding: 20px 20px 20px 20px;">
          <h2>Select file to print</h2>
          <div class="row g-3">
        <div class="col-auto" style="padding-top: 20px">
          <label for="formFile" class="form-label">
            <input class="form-control" type="file" id="browseFile" />
          </label>
        </div>
        <div class="col-auto" style="padding-top: 20px;">
          <input type='submit'id="button" class="btn btn btn-secondary"></a>
        </div>
      </div>
    </div>

    <form>
      <div class="mb-3, container-fluid" style="padding: 0px 20px 20px 20px">
        <label for="exampleNumberOfCopies1" class="form-label"
          >Number of Copies:</label
        >
        <div class="col-2">
          <input
            value="1"
            type="number"
            class="form-control"
            id="exampleNumberOfCopies1"
            aria-describedby="settingsHelp"
          />
        </div>
        <div id="settingsHelp" class="form-text">
          Select how many times you want to print your file.
        </div>
        <div class="form-check" style="padding-top: 20px">
          <input
            class="form-check-input"
            type="radio"
            name="flexColorDefault"
            id="flexColorDefault1"
          />
          <label class="form-check-label" for="flexColorDefault1">
            Monochrome
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexColorDefault"
            id="flexColorDefault2"
            checked
          />
          <label class="form-check-label" for="flexColorDefault2">
            Color
          </label>
        </div>
      
        <div id="settingsHelp" class="form-text">
          Specifies the output color to monochrome or color setting.
        </div>
        <div class="form-check" style="padding-top: 10px">
          <input
            class="form-check-input"
            type="radio"
            name="flexQualityDefault"
            id="flexQualityDefault1"
          />
          <label class="form-check-label" for="flexQualityDefault1">
            Print quality: Draft
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexQualityDefault"
          />
          <label class="form-check-label" for="flexQualityDefault2">
            Print quality: Normal
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexQualityDefault"
            id="flexQualityDefault3"
            checked
          />
          <label class="form-check-label" for="flexQualityDefault3">
            Print quality: Best
          </label>
        </div>
        <div id="settingsHelp" class="form-text" style="padding-bottom: 10px">
          Specifies the output quality to draft, normal, or best.
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexSideDefault"
            id="flexSideDefault1"
          />
          <label class="form-check-label" for="flexSideDefault1">
            Print sides: one-sided
          </label>
        </div>
        <div id="settingsHelp" class="form-text" style="padding-bottom: 10px">
          Prints on one side of the paper.
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexSideDefault"
            id="flexSideDefault2"
            checked
          />
          <label class="form-check-label" for="flexSideDefault2">
            Print sides: two-sided-long-edge
          </label>
        </div>
        <div id="settingsHelp" class="form-text" style="padding-bottom: 10px">
          Prints on both sides of the paper for portrait output.
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexSideDefault"
            id="flexSideDefault3"
            checked
          />
          <label class="form-check-label" for="flexSideDefault3">
            Print sides: two-sided-short-edge
          </label>
        </div>
        <div id="settingsHelp" class="form-text" style="padding-bottom: 10px">
          Prints on both sides of the paper for landscape output.
        </div>
        <button type="submit" class="btn btn-secondary" style="margin-top: 10px; margin-bottom: 40px;">Submit settings and print</button>
      </div>
    </div>
  </div>
    </form>

    <div id="result">
      <!-- alert -->
    </div>

    <%- include('../views/partials/footer.ejs') %>
    
    <script type="text/javascript" src="../api/lpPost.js"></script>
  </body>
</html>