<!doctype html>
<html lang="en">

 <%- include('../views/partials/header.ejs') %>

  <body>
    <h1>lp View</h1>

    <%- include('../views/partials/nav.ejs') %>

<br>

    <div class="alert alert-success alert-dismissible rounded-pill fade show" role="alert">
      <strong>Print Successful!</strong> You should check your printer.
    </div>

    <%= command %>

  <%- include('../views/partials/footer.ejs') %>

</html>
    
