<!doctype html>
<html lang="en">

 <%- include('../views/partials/header.ejs') %>

  <body>
    <h1 style="padding-left: 20px; padding-top: 10px;">AidaLinux</h1>

    <%- include('../views/partials/nav.ejs') %>

<br>

    <div class="alert alert-success alert-dismissible rounded-pill fade show" role="alert" style="padding-left: 20px; margin-right: 50%;">
      <strong>Print Successful!</strong> You should check Jobs.
      <p><%= command %></p>
    </div>

   

  <%- include('../views/partials/footer.ejs') %>

</html>
    
