<!doctype html>
<html lang="en">

  <%- include('../views/partials/header.ejs') %>

  <body>

    <%- include('../views/partials/nav.ejs') %>
      
    <div class="mb-3, container-fluid" style="margin-right: 50%; padding: 20px 20px 20px 20px;">
      <div class="row" style="width: 100%;">
        <div class="col-2">
          <h2>Select file to print</h2>
        </div>
        <div class="col-2">
          <label for="formFile" class="form-label">
          <input class="form-control" type="file" id="browseFile">
          </label>
        </div>
        <div class="col-2">
          <input type='submit'id="button" class="btn btn btn-secondary"></a>
        </div>
      </div>
    </div>


    <!-- <div class="alert alert-success alert-dismissible rounded-pill fade show" role="alert" style="padding-left: 20px; padding-top: 20px; margin-right: 50%;"> -->
      <div id="result">

      </div> 
     
    <!-- </div> -->

  <%- include('../views/partials/footer.ejs') %>

<script>
$(function(){ 
  $("#button").click( function( event )
 { 
  var input = document.getElementById('browseFile');
  console.log(input.files[0]);

  var formData = new FormData();

    formData.append("fileToPrint", input.files[0]);

  //  console.log('sono dentro');
  //  var path = $( "#browseFile" ).val();
  // // var path = '/home/finsoft/ProgettoStampantiLinux/ProgettoStampanti/file/file.txt'
  //   //var path = (window.URL || window.webkitURL).createObjectURL(value);
  //   console.log(path);
  
  $.ajax
  ({
    method: "POST", 
    url: "/lpPost",
    data: formData,
    processData:false,
    contentType:false,
    error: function()
      {
          alert("Error");
          
      },
      success: function(x){
        console.log(x);
        $("#result").html(x); 
      }
  });
  });
 });

</script>
  </body>
</html>
