<!doctype html>
<html lang="en">

  <%- include('../views/partials/header.ejs') %>

  <body>

    <%- include('../views/partials/nav.ejs') %>
      
    <div class="mb-3, container-fluid" style="margin-right: 50%; padding: 20px 20px 20px 20px;">
      <div class="row" style="width: 100%;">
        <div class="col-2">
          <h2>Select file to print</h2>
        </div>
        <div class="col-2">
          <label for="formFile" class="form-label">
          <input class="form-control" type="file" id="browseFile">
          </label>
        </div>
        <div class="col-2">
          <input type='submit'id="button" class="btn btn btn-secondary"></a>
        </div>
      </div>
    </div> 

      <div id="result">
        <!-- alert -->
      </div> 

  <%- include('../views/partials/footer.ejs') %>

<script type="text/javascript" src="../api/lpPost.js"></script>
</body>
</html>
