<!DOCTYPE html>
<html>
  <div>
    <h4>Job sheets</h4>
    <select class="form-select" id="BannerDefault">
      <option selected value="None">None</option>
      <option value="Classified">Classified</option>
      <option value="Confidential">Confidential</option>
      <option value="Secret">Secret</option>
      <option value="Standard">Standard</option>
      <option value="Topsecret">Topsecret</option>
      <option value="Unclassified">Unclassified</option>
    </select>
    <div id="settingsHelp" class="form-text">
      Prints a banner with the document.
    </div>   
  </div>
</html>
