<!DOCTYPE html>
<html>
    <div class="mb-3, container-fluid" style="padding: 2% 1% 1% 1%;">
        <div class="col-2">
        <label for="formFile" class="form-label">
          <input class="form-control" type="file" id="browseFile"/>
        </label>
      </div>
</html>