<!DOCTYPE html>
<html>
  <div class="container-fluid" style="padding: 1% 1% 0% 1%;">
    <div class="row" style="width: 100%">
      <div class="col-2">
        <h2>Choose your file:</h2>
      </div>
      <div class="col-auto">
        <label for="formFile" class="form-label">
          <input class="form-control" type="file" id="browseFile" />
        </label>
      </div>
    </div>
  </div>
</html>
