<!DOCTYPE html>
<html>
        <div class="col-12">
        <label for="formFile" class="form-label">
          <input class="form-control" type="file" id="browseFile"/>
        </label>
      </div>
</html>