<!DOCTYPE html>
<html>
  <div class="col-auto" style="width: 100%; padding: 1% 0% 0% 1%;">
    <h4>Selected file</h4>
</div>
<div class="col-auto">
  <label for="formFile" class="form-label">
    <input class="form-control" type="file" id="browseFile" />
    </div>
</html>