<!DOCTYPE html>
<html>
    <div class="mb-3, container-fluid" style="padding: 2% 1% 1% 1%;">
        <div class="col-2">
        <label for="formFile" class="form-label">
          <input class="form-control" type="file" id="browseFile"/>
        </label>
      </div>
      <div class="col-2" style="padding-top: 1%">
        <input 
          value="1"
          type="number"
          class="form-control"
          id="numberOfCopies"
        />
      </div>
      <div id="settingsHelp" class="form-text">Select how many times you want to print your file.</div>
</html>