<!DOCTYPE html>
<html>
  <div>
    <h4>Number up</h4>
    <select class="form-select" id="NumberDefault">
      <option selected value="None">None</option>
      <option value="2">2</option>
      <option value="4">4</option>
      <option value="6">6</option>
      <option value="9">9</option>
      <option value="16">16</option>
    </select>
    <div id="settingsHelp" class="form-text">
      Prints 2, 4, 6, 9, or 16 document pages on each output page.
    </div>
  </div>
</html>
