<!DOCTYPE html>
<html>
    <div class="form-check" style="padding-top: 1%">
        <input
        value="None";
          class="form-check-input"
          type="radio"
          name="flexNumberDefault"
          id="flexNumberDefault1"
          checked
        />
        <label class="form-check-label" for="flexNumberDefault1">None</label>
      </div>
      <div class="form-check">
        <input
          value="2";
          class="form-check-input"
          type="radio"
          name="flexNumberDefault"
          id="flexNumberDefault2"
        />
        <label class="form-check-label" for="flexNumberDefault2">2</label>
      </div>

      <div class="form-check">
        <input
          value="4";
          class="form-check-input"
          type="radio"
          name="flexNumberDefault"
          id="flexNumberDefault3"
        />
        <label class="form-check-label" for="flexNumberDefault3">4</label>
      </div>

      <div class="form-check">
        <input
          value="6";
          class="form-check-input"
          type="radio"
          name="flexNumberDefault"
          id="flexNumberDefault4"
        />
        <label class="form-check-label" for="flexNumberDefault4">6</label>
      </div>

      <div class="form-check">
        <input
          value="9";
          class="form-check-input"
          type="radio"
          name="flexNumberDefault"
          id="flexNumberDefault5"
        />
        <label class="form-check-label" for="flexNumberDefault5">9</label>
      </div>

      <div class="form-check">
        <input
          value="16";
          class="form-check-input"
          type="radio"
          name="flexNumberDefault"
          id="flexNumberDefault6"
        />
        <label class="form-check-label" for="flexNumberDefault6">16</label>
      </div>

      <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Prints 2, 4, 6, 9, or 16 document pages on each output page.</div>
</html>