<!DOCTYPE html>
<html>
      <div class="col-2" style="padding-top: 1%">
        <input 
          value="1"
          type="number" min="1" 
          class="form-control"
          id="numberOfCopies"
          required
        />
      </div>
      <div id="settingsHelp" class="form-text">Select how many times you want to print your file.</div>
</html>