<!DOCTYPE html>
<html>
  <div style="padding-top: 2%">
    <h3>Orientation requested</h3>
    <div class="form-check">
        <input
          value="None";
          class="form-check-input"
          type="radio"
          name="flexOrientation-RequestedDefault"
          id="flexOrientation-RequestedDefault1"
          checked
        />
        <label class="form-check-label" for="flexOrientation-RequestedDefault1">None</label>
      </div>
      <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Not prints the job in landscape.</div>
      <div class="form-check">
        <input
        value="4";
          class="form-check-input"
          type="radio"
          name="flexOrientation-RequestedDefault"
          id="flexOrientation-RequestedDefault2"
        />
        <label class="form-check-label" for="flexOrientation-RequestedDefault2">Rotated 90 degrees counter-clockwise</label>
      </div>
      <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Prints the job in landscape.</div>
      <div class="form-check">
        <input
        value="5";
          class="form-check-input"
          type="radio"
          name="flexOrientation-RequestedDefault"
          id="flexOrientation-RequestedDefault3"
        />
        <label class="form-check-label" for="flexOrientation-RequestedDefault3">Rotated 90 degrees clockwise</label>
      </div>
      <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Prints the job in landscape.</div>
      <div class="form-check">
        <input
        value="6";
          class="form-check-input"
          type="radio"
          name="flexOrientation-RequestedDefault"
          id="flexOrientation-RequestedDefault4"
        />
        <label class="form-check-label" for="flexOrientation-RequestedDefault4">Rotated 180 degrees</label>
      </div>
      <div id="settingsHelp" class="form-text">Prints the job in reverse portrait.</div>
  </div>
</html>