<!DOCTYPE html>
<html>
  <div>
    <h5>Orientation requested</h5>
    <select class="form-select" id="OrientationDefault">
      <option selected value="None">None</option>
      <option value="4">Rotated 90 degrees counter-clockwise</option>
      <option value="5">Rotated 90 degrees clockwise</option>
      <option value="6">Rotated 180 degrees</option>
    </select>
    <div id="settingsHelp" class="form-text">
      Not prints the job in landscape, prints the job in landscape or in reverse portrait.
    </div>
  </div>
</html>