<!DOCTYPE html>
<html>
    <div class="col-auto" style="width: 100%; padding: 1% 0% 0% 1%;">
        <h4>Selected printer</h4>
    </div>
    <div class="col-auto">
        <select id="select" class="form-select">
          <% for ( var i = 0; i<name.length; i++ ) { %>
              <option value="<%= name[i] %>"> <%= name[i] %></option>
              <% } %>
          </select>
        </div>
</html>