<!DOCTYPE html>
<html>
  <div>
    <h4>Print quality</h4>
    <select class="form-select" id="QualityDefault">
      <option selected value="3">Print quality: Draft</option>
      <option value="4">Print quality: Normal</option>
      <option value="5">Print quality: Best</option>
    </select>
    <div id="settingsHelp" class="form-text">
      Specifies the output quality to draft, normal, or best.
    </div>
  </div>
</html>
