<!DOCTYPE html>
<html>
    <div class="form-check">
        <input
          value="one-sided";
          class="form-check-input"
          type="radio"
          name="flexRotationDefault"
          id="flexRotationDefault1"
          checked
        />
        <label class="form-check-label" for="flexRotationDefault1">None</label>
      </div>
      <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Not prints the job in landscape.</div>
      <div class="form-check">
        <input
        value="two-sided-long-edge";
          class="form-check-input"
          type="radio"
          name="flexRotationDefault"
          id="flexRotationDefault2"
        />
        <label class="form-check-label" for="flexRotationDefault2">Rotated 90 degrees counter-clockwise</label>
      </div>
      <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Prints the job in landscape.</div>
      <div class="form-check">
        <input
        value="two-sided-long-edge";
          class="form-check-input"
          type="radio"
          name="flexRotationDefault"
          id="flexRotationDefault3"
        />
        <label class="form-check-label" for="flexRotationDefault3">Rotated 90 degrees clockwise</label>
      </div>
      <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Prints the job in landscape.</div>
      <div class="form-check">
        <input
        value="two-sided-short-edge";
          class="form-check-input"
          type="radio"
          name="flexRotationDefault"
          id="flexRotationDefault4"
        />
        <label class="form-check-label" for="flexRotationDefault4">Rotated 180 degrees</label>
      </div>
      <div id="settingsHelp" class="form-text">Prints the job in reverse portrait.</div>
</html>