<!DOCTYPE html>
<html>
  <div>
    <h5>Sides of paper</h5>
    <select class="form-select" id="SideDefault">
      <option selected value="one-sided">Print sides: one-sided</option>
      <option value="two-sided-long-edge">Print sides: two-sided-long-edge</option>
      <option value="two-sided-short-edge">Print sides: two-sided-short-edge</option>
    </select>
    <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">
      Prints on one side of the paper, on both sides of the paper for portrait or landscape output.
    </div>
  </div>
</html>