<!DOCTYPE html>
<html>
  <div>
    <h4>Media</h4>
    <select class="form-select" id="SizeDefault">
      <option selected value="a4">A4 format</option>
      <option value="letter">Letter format</option>
      <option value="legal">Legal format</option>
    </select>
    <div id="settingsHelp" class="form-text">
      Specifies the output size of the printed file.
    </div>    
  </div>
</html>